In [10]:
# Import pandas library
import pandas as pd
import numpy as np

In [11]:
df1 = pd.read_table('NotNull0.txt', dtype=str)

In [12]:
df2 = pd.read_table('Null0.txt', dtype=str)

In [13]:
type(df1)

pandas.core.frame.DataFrame

In [14]:
type(df2)

pandas.core.frame.DataFrame

In [15]:
df1.shape

(584029, 1)

In [16]:
df2.shape

(529096, 3)

In [17]:
df2.head()

   Account No Customer No         Registry ID
0  0000023579         NaN  736092717825769740
1  0000025937         NaN  737242416252074162
2  0000041359         NaN  736469519546271524
3  0000102381         NaN  738074566405585034
4  0000103444         NaN  737409634790437494

In [18]:
#data.columns

In [19]:
# merge the dataframes

In [20]:
mergeDF = df1.merge(df2, how='inner', on='Account No')

In [21]:
mergeDF.shape

(127308, 3)

In [22]:
pwd

'/Users/Chinedu/Desktop/Access Issue 2022'

In [23]:
#saving
np.savetxt(r'np.txt', mergeDF.values, fmt='%s',delimiter='\t')